@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --black-color: #121212;
  --white-color: #FAFAFA;
}

.dark-theme {
  --black-color: #FAFAFA;
  --white-color: #121212;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
}

input,
textarea,
select,
button,
label,
summary {
  border: none;
  outline: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button,
summary {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1352px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 668px;
    padding: 0 15px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 380px;
    padding: 0 10px;
  }
}
#scrollProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #2979ff;
  z-index: 9998;
  width: 0;
}

#loader {
  width: 80px;
  height: 80px;
  border: 5px solid transparent;
  border-top: 5px solid #2979ff;
  border-bottom: 5px solid #2979ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

#loader.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.hidden-content {
  opacity: 0;
  transition: opacity 1s ease;
}

.hidden-content.show {
  opacity: 1;
}

.hover:hover {
  background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
  color: #fff;
  transform: scale(1.05);
}

.hover:active {
  transform: scale(0.95);
}

.header {
  width: 100%;
  height: 88px;
  display: grid;
  place-items: center;
  box-shadow: 0px 4px 24.2px 0px rgba(0, 0, 0, 0.0588235294);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}
.header__banner {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.header__banner:hover {
  opacity: 0.8;
}
.header__banner:active {
  opacity: 0.6;
  transform: scale(0.95);
}
.header__logo__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 139%;
  letter-spacing: 0px;
  text-align: justify;
  color: #2C2B35;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 51px;
}
.header__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: #2c2b35;
  transition: all 0.3s ease;
}
.header__link:hover {
  color: #43A548;
}
.header__link0 {
  color: #f7f8f8;
  font-weight: 600;
  font-size: 14px;
  line-height: 139%;
  padding: 10px 20px;
  border-radius: 1000px;
  background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
  transition: all 0.3s ease;
  display: inline-block;
}
.header__link0:hover {
  transform: scale(1.05);
}
.header__link0:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 480px) {
  .header {
    height: 72px;
  }
  .header__logo {
    width: 32px;
    height: 32px;
  }
  .header__logo__title {
    font-size: 18px;
  }
  .header__list {
    display: none;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 72px);
    background: #ffffff;
    flex-direction: column;
    gap: 16px;
    z-index: 999;
    overflow: hidden;
  }
  .header__list.active {
    display: flex;
  }
  .header__item {
    text-align: center;
  }
  .header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 139%;
    padding: 12px 0;
    display: block;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    z-index: 1001;
  }
  .hamburger span {
    width: 100%;
    height: 3px;
    background: #2c2b35;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
  }
  .hamburger.active span:nth-child(2) {
    transform: rotate(-45deg) translate(3px, -3px);
  }
  body.menu-open {
    overflow: hidden;
  }
}
.footer {
  background: #2C2B35;
}
.footer__content {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer__banner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__logo__title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 139%;
  text-align: justify;
}
.footer__list {
  width: 646px;
  display: grid;
  gap: 40px;
}
.footer__item:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 139%;
  color: #919999;
  margin-bottom: 16px;
}
.footer__tel {
  font-weight: 600;
  font-size: 24px;
  line-height: 139%;
  color: #fff;
}
.footer__button {
  padding: 12px 30px;
  background-color: #43A548;
  border-radius: 1000px;
  color: #fff;
  transition: all 0.3s ease;
}
.footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 139%;
  letter-spacing: 0px;
  color: #fff;
}
.footer__underline {
  text-decoration: underline;
  color: #fff;
}
.footer__link {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 139%;
  letter-spacing: 0px;
  color: #43A548;
  margin-top: 20px;
}
.footer__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 139%;
  letter-spacing: 0px;
  text-align: justify;
  color: #fff;
  margin-bottom: 32px;
}
.footer__links {
  font-weight: 400;
  font-size: 16px;
  line-height: 139%;
  letter-spacing: 0px;
  text-align: justify;
  color: #fff;
  margin: 20px 0;
  display: block;
  opacity: 85%;
  transition: all 0.3s ease;
}
.footer__links:hover {
  color: #43A548;
  opacity: 100%;
}
.footer__line {
  border: 1px solid #494949;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.footer__copy {
  color: #919999;
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
}
.footer__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: 0.2px;
  color: #919999;
}
.footer__author a {
  color: #43A548;
}

@media only screen and (max-width: 480px) {
  .footer__content {
    flex-direction: column;
    gap: 20px;
  }
  .footer__list {
    display: grid;
    width: 100%;
  }
  .footer__item:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
.hero {
  margin-top: 138px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #2c2b35;
}
.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.hero__btn {
  padding: 10px 30px;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 16px;
  line-height: 139%;
  background: #43A548;
  color: #fff;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 480px) {
  .hero {
    margin: 0;
    margin-top: 104px;
  }
  .hero__container {
    flex-direction: column;
    gap: 20px;
  }
  .hero__content {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__text {
    font-size: 16px;
  }
}
.connect {
  margin-top: 60px;
  padding: 60px 0;
  background: #F7F8F8;
}
.connect__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.connect__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connect__card, .connect__cardd {
  padding: 40px;
  border-radius: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 10px rgba(0, 0, 0, 0.0509803922);
  width: 646px;
}
.connect__card__title, .connect__cardd__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 139%;
  color: #2C2B35;
}
.connect__card__text, .connect__cardd__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 139%;
  color: #6F7973;
  margin-top: 14px;
  margin-bottom: 32px;
}
.connect__card__link, .connect__cardd__link {
  padding: 10px 30px;
  border-radius: 1000px;
  color: #43A548;
  border: 1px solid #43A548;
  transition: all 0.3s ease;
}
.connect__flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.connect__img1 {
  background: #FDEAD4;
  border-radius: 4px;
}
.connect__img1 img {
  padding: 4px;
}
.connect__img2 {
  background: #EECFFC;
  border-radius: 4px;
}
.connect__img2 img {
  padding: 4px;
}
.connect__img3 {
  background: #DCFCFA;
  border-radius: 4px;
}
.connect__img3 img {
  padding: 4px;
}
.connect__img4 {
  background: #FBDCDC;
  border-radius: 4px;
}
.connect__img4 img {
  padding: 6px;
}
.connect__img5 {
  background: #D8DCFC;
  border-radius: 4px;
}
.connect__img5 img {
  padding: 4px;
}
.connect__img6 {
  background: #DAFCE3;
  border-radius: 4px;
}
.connect__img6 img {
  padding: 4px;
}
.connect__img7 {
  background: #FCFDD7;
  border-radius: 4px;
}
.connect__img7 img {
  padding: 4px;
}
.connect__cardd {
  width: 424px;
}
.connect__connect {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
  padding: 35px;
  border-radius: 40px;
}
.connect__connect span {
  display: flex;
  align-items: center;
  gap: 23px;
}
.connect__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 139%;
  color: #43A548;
}
.connect__link {
  padding: 10px 30px;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 16px;
  line-height: 139%;
  background: #43A548;
  color: #fff;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 480px) {
  .connect__cards {
    flex-direction: column;
    gap: 20px;
  }
  .connect__card, .connect__cardd {
    width: 100%;
  }
  .connect__connect {
    flex-direction: column;
    gap: 10px;
  }
  .connect__link {
    width: 100%;
    text-align: center;
  }
}
.comfort {
  margin-top: 100px;
}
.comfort__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.comfort__card {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 10px rgba(0, 0, 0, 0.0509803922);
  border-radius: 40px;
  width: 646px;
}
.comfort__card__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 139%;
  margin-bottom: 40px;
}
.comfort__card__list {
  display: grid;
  gap: 20px;
}
.comfort__card__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comfort__card2 {
  background: linear-gradient(252.7deg, #E5F6E6 17.34%, #DFF7E0 90.57%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.0509803922);
}

@media only screen and (max-width: 480px) {
  .comfort__title {
    text-align: center;
  }
  .comfort__cards {
    flex-direction: column;
    gap: 20px;
  }
  .comfort__card {
    width: 100%;
  }
}
.products {
  background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 60px 0;
}
.products__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 139%;
}
.products__link {
  padding: 12px 30px;
  border-radius: 1000px;
  color: #fff;
  background: #43A548;
  transition: all 0.3s ease;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  gap: 20px;
}

.card {
  flex: 0 0 calc((100% - 40px) / 3);
  background: #fff;
  border-radius: 24px;
  padding: 24px;
  position: relative;
  box-shadow: 0 0 0 1px #e6e6e6, 0px 4px 24px rgba(0, 0, 0, 0.04);
}

.card h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #121212;
}

.price {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #f0fff3;
  border: 1px solid #00a950;
  color: #00a950;
  padding: 4px 12px;
  border-radius: 40px;
  font-size: 13px;
}

.card ul {
  font-size: 14px;
  color: #555;
  margin: 12px 0;
  padding-left: 20px;
}

.card ul li {
  margin-bottom: 8px;
  list-style-type: disc;
}

.more {
  color: #00a950;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ccc;
  z-index: 2;
  transition: background 0.3s;
}

.nav:hover {
  background: #eee;
}

.nav.prev {
  left: 1px;
}

.nav.next {
  right: 1px;
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%;
  }
}
.support {
  margin-top: 120px;
  margin-bottom: 60px;
}
.support__container {
  padding: 40px;
  box-shadow: 0px 4px 12px 10px rgba(0, 0, 0, 0.0509803922);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support__left {
  width: 646px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.support__left__address {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}
.support__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 139%;
  color: #2C2B35;
}
.support__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 139%;
  color: #2C2B35;
}
.support__link {
  color: #43A548;
}
.support__right {
  width: 477px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
  border-radius: 40px;
}
.support__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}
.support__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support__phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.support__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: #6F7973;
}
.support__number, .support__email {
  font-weight: 600;
  font-size: 20px;
  line-height: 139%;
  color: #43A548;
}
.support__mail {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .support__container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .support__right {
    width: 100%;
  }
  .support__left {
    width: 100%;
  }
  .support__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.solution {
  margin-top: 120px;
  margin-bottom: 120px;
}
.solution__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solution__boxes {
  display: grid;
  gap: 20px;
}
.solution__box {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 10px rgba(0, 0, 0, 0.0509803922);
  border-radius: 40px;
  width: 636px;
}
.solution__box__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 139%;
}
.solution__box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: #6F7973;
  margin-top: 20px;
}
.solution__box__list {
  list-style: disc;
  padding-left: 15px;
}
.solution__box__list li::marker {
  color: #6f6f6f;
}
.solution__box__list li p {
  color: #6F7973;
}
.solution__box__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: #43A548;
  display: block;
  margin-top: 20px;
}
.solution__title2 {
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  .solution {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .solution__content {
    flex-direction: column;
    gap: 20px;
  }
  .solution__box {
    width: 100%;
  }
  .solution__title, .solution__title2 {
    text-align: center;
  }
}
.request {
  margin-top: 60px;
  margin-bottom: 120px;
}
.request__container {
  padding: 60px;
  background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}
.request__content {
  width: 541px;
}
.request__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 139%;
  color: #fff;
}
.request__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  color: #fff;
  margin-top: 20px;
}
.request__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 574px;
}
.request__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 139%;
  color: #fff;
}
.request__input {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 1px 10px 20px;
}
.request__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request__link {
  width: 374px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 144%;
}
.request__span {
  color: #2C2B35;
}
.request__btn {
  border-radius: 1000px;
  color: #fff;
  background: #2C2B35;
  width: 108px;
  height: 46px;
  transition: all 0.3s ease;
}
.request__btn:hover {
  color: #43A548;
  background-color: #fff;
}
.request__btn:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 480px) {
  .request__container {
    flex-direction: column;
    padding: 20px;
  }
  .request__content, .request__form, .request__link {
    width: 100%;
  }
  .request__form {
    margin-top: 20px;
  }
  .request__flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .request__btn {
    width: 100%;
  }
}
.question {
  margin-top: 120px;
  margin-bottom: 120px;
}
.question__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 139%;
  color: #3D4641;
  margin-bottom: 60px;
}
.question__details {
  margin: 20px 0;
  border-radius: 40px;
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.0509803922);
  overflow: hidden;
}
.question__details summary {
  width: 100%;
  padding: 26px 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}
.question__details summary::-webkit-details-marker {
  display: none;
}
.question__details summary i {
  transition: transform 0.3s ease;
}
.question__details[open] summary i {
  transform: rotate(180deg);
}
.question__content {
  width: 100%;
  padding: 0 40px 26px 40px;
}
.question__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: #6F7973;
  margin-top: 20px;
}
.question__list {
  list-style: disc;
  padding-left: 15px;
}
.question__list li::marker {
  color: #6f6f6f;
}
.question__list li p {
  color: #6F7973;
}
.question__bottom {
  width: 100%;
  padding: 20px 113px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(178.11deg, #43A548 -147.02%, #52E259 286.68%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.0509803922);
}
.question__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 139%;
  color: #fff;
}
.question__link {
  padding: 12px 30px;
  border-radius: 1000px;
  color: #43A548;
  background-color: #fff;
  transition: all 0.3s ease;
}
.question__link:hover {
  color: #fff;
  background-color: #2C2B35;
}
.question__link:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 480px) {
  .question__summary {
    font-size: 13px;
    padding: 12px 30px;
  }
  .question__bottom {
    flex-direction: column;
    padding: 12px 20px;
    gap: 10px;
  }
  .question__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 139%;
    letter-spacing: 0px;
    text-align: center;
  }
  .question__link {
    width: 100%;
  }
}
.base {
  background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 60px 0;
}
.base__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.base__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 139%;
}
.base__link {
  padding: 12px 30px;
  border-radius: 1000px;
  color: #fff;
  background: #43A548;
  transition: all 0.3s ease;
}

.base__carousel-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.base__carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  gap: 20px;
}

.base__card {
  flex: 0 0 calc((100% - 40px) / 3);
  background: #fff;
  border-radius: 24px;
  padding: 24px;
  position: relative;
  box-shadow: 0 0 0 1px #e6e6e6, 0px 4px 24px rgba(0, 0, 0, 0.04);
}

.base__card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 139%;
  color: #3D4641;
}

.base__card a {
  font-weight: 600;
  font-size: 16px;
  line-height: 139%;
  text-align: right;
  color: #43A548;
}

.base__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  font-size: 24px;
  padding: 8px 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ccc;
  z-index: 2;
  transition: background 0.3s;
}

.base__nav:hover {
  background: #eee;
}

.base__nav.base__prev {
  left: 1px;
}

.base__nav.base__next {
  right: 1px;
}

@media (max-width: 480px) {
  .base__card {
    flex: 0 0 100%;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 15px;
  }
}
.partner {
  margin: 120px 0;
}
.partner__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 139%;
  color: #3D4641;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  .partner {
    margin: 60px 0;
  }
  .partner__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}/*# sourceMappingURL=main.css.map */