.hero {
    margin-top: 138px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 60px;
        line-height: 110.00000000000001%;
        color: #2c2b35;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 139%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &__btn {
        padding: 10px 30px;
        border-radius: 1000px;
        font-weight: 600;
        font-size: 16px;
        line-height: 139%;
        background: #43A548;
        color: #fff;
        transition: all 0.3s ease;
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        margin: 0;
        margin-top: 104px;

        &__container {
            flex-direction: column;
            gap: 20px;
        }

        &__content {
            display: grid;
            place-items: center;
            text-align: center;
        }

        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 16px;
        }
    }
}