.question {
    margin-top: 120px;
    margin-bottom: 120px;

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 139%;
        color: #3D4641;
        margin-bottom: 60px;
    }

    &__details {
        margin: 20px 0;
    }

    &__summary,
    &__content {
        width: 100%;
        padding: 26px 1px 26px 40px;
        box-shadow: 0px 4px 12px 6px #0000000D;
        border-radius: 40px;
    }

    &__content {
        margin: 20px 0;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 139%;
        color: #6F7973;
        margin-top: 20px;
    }

    &__list {
        list-style: disc;
        padding-left: 15px;

        li {
            &::marker {
                color: #6f6f6f;
            }

            p {
                color: #6F7973;
            }
        }
    }

    &__bottom {
        width: 100%;
        padding: 20px 113px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(178.11deg, #43A548 -147.02%, #52E259 286.68%);
        box-shadow: 0px 4px 12px 0px #0000000D;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 139%;
        color: #fff;
    }

    &__link {
        padding: 12px 30px;
        border-radius: 1000px;
        color: #43A548;
        background-color: #fff;
        transition: all 0.3s ease;

        &:hover {
            color: #fff;
            background-color: #2C2B35;
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

@media only screen and (max-width: 480px) {
    .question {
        &__summary {
            font-size: 13px;
            padding: 12px 30px;
        }

        &__bottom {
            flex-direction: column;
            padding: 12px 20px;
            gap: 10px;
        }

        &__subtitle {
            font-weight: 600;
            font-size: 14px;
            line-height: 139%;
            letter-spacing: 0px;
            text-align: center;
        }

        &__link {
            width: 100%;
        }
    }
}